@import "abstracts/mixins";

@include mobile {
  body {

  }
  .nav {
    display: none;

  }

  .nav-mobile {
    z-index: 999;
    left: 0px;
    padding-top: 20%;
    align-items: center;
    flex-direction: column;

    color: white;
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    // display: none;
  }

  .nav-mobile ul {
    font-weight: bold;
    font-size: 20px;
    gap: 10px;
    flex-direction: column;
    display: flex;
    text-align: center;
    list-style: none;
  }
  .img {
    width: 30px;
    position: absolute;
    left: 20px;
    top: 10px;
  }

  .btn-ouvrir {
    color: black;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    left: 430px;
    top: 10px;
    right: 20px;
    // display: flex;
    // left: 10px;
  }

  .btn-fermer {
    cursor: pointer;
    right: 20px;
    top: 20px;
    position: absolute;
    padding: 10px;
  }


}

@include desktop {
  .nav {
    // padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      width: 60px;
      height: 60px;

    }


    // @include tablet {
    //     padding: 2rem 1rem;
    // }

    .intro {
      display: flex;
      // align-items: center;
      // justify-content:space-between;
      margin-left: 20px;
      gap: 35px;
      padding-top: 6px;


      ul {
        display: flex;
        gap: 40rem;
        list-style: none;
        color: #080909;
        padding-top: 10px;
        padding-bottom: 15px;

        a {
          text-decoration: none;
          font-size: 20px;
          color: #080808;
          font-weight: 300px;

          button {
            color: white;
            font-size: 15px;
            height: 40px;
            background-color: rgb(230, 29, 96);
            border-radius: 15px;
            border: solid 1px rgb(230, 29, 96);;
          }
        }

        div {
          display: flex;
          gap: 30px;
          justify-content: center;
          align-items: center;
        }
      }

    }


  }

  .nav-mobile {

    z-index: 999;
    left: 0;
    padding-top: 20%;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    display: none;

  }

  .btn-ouvrir {
    display: none;
  }

}