@import "abstracts";


.nav {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;

  & > * {
    z-index: 2;
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    bottom: 100%;
    transition: all .2s ease;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    @include desktop {
      display: none !important;
    }
  }

  @include desktop {
    padding: 1rem 5rem;
  }

  .menu {
    margin-right: 1rem;
    font-size: 2.5rem;
    @include tablet {
      display: none;
    }
  }

  .logo {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 .2rem .5rem rgba(black, .2);
    @include desktop {
      font-size: 4rem;
    }
  }

  .links {
    position: relative;
    display: none;
    gap: 2rem;
    margin-left: 10rem;
    font-weight: 600;
    text-transform: capitalize;
    @include desktop {
      display: flex;
    }
  }

  .mobileLinks {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
    padding: 2rem 0;
    text-transform: capitalize;
    font-weight: bold;
    left: 0;
    text-align: center;
    background-color: black;
    transition: all .2s ease;
    width: 100%;
    @include desktop {
      display: none !important;
    }
  }

  .mobileShow {
    opacity: 1;
    z-index: 1;
    top: 100%;
  }

  .auth {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-left: auto;
    @include desktop {
      gap: 2rem;
    }

    .login {
      display: flex;
      gap: 1.5rem;
      align-items: center;

      .text {
        text-transform: capitalize;

        display: none;
        @include desktop {
          display: inline-block;
        }
      }
    }

    .create {
      background-color: $primary-color;
      color: white;
      font-weight: 600;
      padding: .5rem 1rem;
      border-radius: .5rem;
      text-transform: capitalize;
      transition: all .2s ease;


      &:hover {
        background-color: $primary-highlight-color;
      }

      @include desktop {
        font-size: 1.4rem;
        padding: 1rem 2rem;
        font-weight: 500;
        border-radius: 3rem;
      }

      span {
        display: none;
        @include desktop {
          display: inline-block;
        }
      }
    }
  }


}

.open {
  background-color: black;
  color: white;
  @include tablet {
    color: inherit;
    background: transparent;
  }

  &:after {
    bottom: 0;
  }
}

.light {
  color: white;
}
